/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*Les variable*/

$font: font-family 'Shrikhand', cursive;
$primaire:  #9356DC;
$secondaire:  #FF79DA;
$tertiaire:  #99E2D0;
$background: lighten($color: $primaire, $amount: 37%);
$text: lighten($color: black, $amount: 40%);

/*les mixins*/
@import "libs/mixins.scss";

body{
    font-family: 'Roboto', sans-serif;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:black;
}

/*header*/

header{  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    
    .logo{
        font-family: $font;
        width: 45%;
    }
}

/*Recherche des restaurants*/

.localisation{
    background-color: $background; 
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;

    .endroit{
        display: flex;
        justify-content: center;
        align-items: center;
        height:50px;
        background-color: lighten($color: $primaire, $amount: 33%);
        border-top: 2.7px lighten($color: $primaire, $amount: 24%) solid;
        font-size: 17px;
        margin-bottom: 40px;
        font-weight: bold;
        color: lighten($color: #000000, $amount: 24%);
    }

    .fa-location-dot{
        margin-right: 15px;
    }

    h1{
        font-weight: bold;
        font-size: 24px;
        font-family: $font;
        margin-bottom: 15px;
    }

    .decouverte{
        color: lighten($color: #000000, $amount: 40%);
        margin-bottom: 30px;
        font-size: 18px;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-weight: bold;
        border-radius: 25px;
        font-size: 14px;
        margin-left: 80px;
        margin-right: 80px;
        color: white; 
        background: linear-gradient($secondaire, $primaire);
        margin-bottom: 40px;
    }
}


/*présention de l'entreprise*/
.presentaion{
    padding-left: 25px;
    font-family: $font;

    h1{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 20px;
    }

    p{
        
        background-color: $background;
        margin-top: 10px;
        margin-right: 15px;
        
        height: 70px;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        align-items: center;
        flex: 52%;
        overflow: visible;
        border-radius: 20px;
        box-shadow: 3px 3px 1px $background;
        margin-bottom: 25px;
    
        .fa-mobile-screen-button{
           @include icone;
        }

        em{
            margin-left: -12px;
            color: white;
            width: 25px;
            height: 25px;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: normal;
            border-radius: 50px;
            background-color: $primaire;
            
            
        }  
    
    }

}

.fa-bars{
    @include icone;
}

.fa-store{
    @include icone;
    color: $primaire;
}

/*listes des restaurants*/

.liste{
    background-color: $background;
    margin-top: 70px;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

    h1{
        font-family: $font;
        font-weight:bold;
        font-size: 26px;
        margin-bottom: 30px;
    }
    
    .card1{
        @include card;

        img{     
            @include restaurant;
        }

        .identite{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 4%;
            padding-top: 20px;
            padding-right: 5%;

            .fa-heart{
                font-size: 22px;
                color: $text;
            }

            h3{
                font-weight: bold;
                font-size: 20px;
                font-family: $font;
                margin-bottom: 5px;
            }

            h4{
                color: $text;
            }

            .adresse{
                display: flex;
                flex-direction: column;
                flex: 30%;
            }
        }
    }
}

.card2{
    @extend .card1
}

footer{
    background-color: #343333;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    
    .logo2{
        font-family: $font;
        width: 100px;
        color: white;
        margin-bottom: 20px;
    }

    li{
        margin-bottom: 10px;
        font-size: 15px;

        .fa-utensils{
            margin-right: 7px;
        }

        .fa-handshake-angle{
            margin-right: 7px;
        }

        a{
            color: white;
        }

    }
}