@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*Les variable*/
/*les mixins*/
body {
  font-family: 'Roboto', sans-serif;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
}

/*Recherche des restaurants*/
.localisation {
  background-color: #F6F6F6;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.localisation .endroit {
  position: relative;
  margin-bottom: 40px;
  border-top: 3px solid #D4D4D4;
  -webkit-box-shadow: 0px 0px 0.2px #9356DC;
          box-shadow: 0px 0px 0.2px #9356DC;
}

.localisation input {
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  font-size: 17px;
  border: none;
  font-weight: bold;
  color: #4E4E4E;
}

.localisation ::-webkit-input-placeholder {
  opacity: 1;
  color: #4E4E4E;
}

.localisation :-ms-input-placeholder {
  opacity: 1;
  color: #4E4E4E;
}

.localisation ::-ms-input-placeholder {
  opacity: 1;
  color: #4E4E4E;
}

.localisation ::placeholder {
  opacity: 1;
  color: #4E4E4E;
}

.localisation .fa-location-dot {
  position: absolute;
  top: 16px;
  left: 24%;
  color: #4E4E4E;
}

.localisation h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.localisation .decouverte {
  color: #666666;
  margin-bottom: 30px;
  font-size: 18px;
}

.btn {
  position: relative;
  height: 50px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn1, .btn2 {
  height: 50px;
  color: #ede7e7;
  font-weight: bold;
  border-radius: 25px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0px 0px 5px #9356dc;
          box-shadow: 0px 0px 5px #9356dc;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  top: 0px;
}

.btn2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ad90d2), to(#eda4d9));
  background: linear-gradient(180deg, #ad90d2 0%, #eda4d9 100%);
  -webkit-box-shadow: 0px 0px 20px #ad75f1;
          box-shadow: 0px 0px 20px #ad75f1;
  opacity: 0;
}

.btn1:hover {
  opacity: 0;
}

.btn2:hover {
  opacity: 1;
  cursor: pointer;
}

/*présention de l'entreprise*/
.presentaion {
  padding-left: 25px;
}

.presentaion h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.presentaion p {
  background-color: #F6F6F6;
  margin-top: 10px;
  margin-right: 15px;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 52%;
      -ms-flex: 52%;
          flex: 52%;
  overflow: visible;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 1px #F6F6F6;
          box-shadow: 3px 3px 1px #F6F6F6;
  margin-bottom: 25px;
}

.presentaion p .fa-mobile-screen-button {
  color: #999999;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 22px;
}

.presentaion p em {
  margin-left: -12px;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  border-radius: 50px;
  background-color: #9356DC;
  font-style: normal;
}

.fa-bars {
  color: #999999;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 22px;
}

.fa-store {
  color: #999999;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 22px;
  color: #9356DC;
}

/*listes des restaurants*/
.liste {
  background-color: #F6F6F6;
  margin-top: 70px;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.liste h2 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
}

.liste .card1 {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 20px #daeded;
          box-shadow: 0px 0px 20px #daeded;
}

.liste .card1 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 210px;
  border-radius: 20px 20px 0px 0px;
}

.liste .card1 .restaurant {
  position: relative;
}

.liste .card1 .restaurant p {
  position: absolute;
  top: 15px;
  right: 8px;
  height: 25px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  font-size: 12px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste .card1 .identite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
  padding-top: 20px;
  padding-right: 5%;
  white-space: nowrap;
}

.liste .card1 .identite h3 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.liste .card1 .identite h4 {
  color: #666666;
}

.liste .card1 .identite .adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

footer h3 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 10px;
  font-size: 18px;
}

footer li .fa-utensils {
  margin-right: 7px;
}

footer li .fa-handshake-angle {
  margin-right: 7px;
}

footer li a {
  color: white;
}

/*animations*/
/*remplissage des coeurs*/
.coeur {
  position: relative;
  margin-right: 10%;
  margin-bottom: 35px;
}

.coeur .coeur1, .coeur .coeur2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  font-weight: normal;
  -webkit-transition: 1s;
  transition: 1s;
}

.coeur .coeur1 {
  opacity: 1;
}

.coeur .coeur2 {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(180deg, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coeur1:hover {
  opacity: 0;
}

.coeur2:hover {
  opacity: 1;
  cursor: pointer;
}

/*loading spinner*/
.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: 1s 3s 1 both disparition;
          animation: 1s 3s 1 both disparition;
}

@-webkit-keyframes disparition {
  from {
    opacity: 1;
    z-index: 5;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disparition {
  from {
    opacity: 1;
    z-index: 5;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}

.loading1, .loading2, .loading3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading2::after {
  content: "";
  height: 50px;
  width: 50px;
  border: 12px solid #99E2D0;
  border-top-color: #e8f9f5;
  border-bottom-color: #e8f9f5;
  border-radius: 50%;
  -webkit-animation: 1s ease infinite both spinner;
          animation: 1s ease infinite both spinner;
}

.loading3::after {
  content: "";
  height: 50px;
  width: 50px;
  border: 12px solid #9356DC;
  border-radius: 50%;
  border-top-color: #c9abee;
  border-bottom-color: #c9abee;
  -webkit-animation: 1s ease infinite both spinner;
          animation: 1s ease infinite both spinner;
}

.loading1::after {
  content: "";
  height: 50px;
  width: 50px;
  border: 12px solid #FF79DA;
  border-radius: 50%;
  border-top-color: #ffdff6;
  border-bottom-color: #ffdff6;
  -webkit-animation: 1s ease infinite both spinner;
          animation: 1s ease infinite both spinner;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

/*check*/
.noms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3%;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 20px #daeded;
          box-shadow: 0px 0px 20px #daeded;
  overflow: hidden;
}

.noms .fa-check-circle {
  display: none;
}

.noms .plat {
  padding-bottom: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.noms .plat P {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  color: #363333;
  margin-right: 7%;
  margin-left: 3%;
}

.noms .plat h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.noms .plat h3 em {
  font-size: 16px;
  color: #666666;
  font-weight: normal;
  font-style: normal;
}

.noms:active {
  cursor: pointer;
}

.noms:active .fa-check-circle::before {
  -webkit-animation: icône 1s 1s 1 both;
          animation: icône 1s 1s 1 both;
}

.noms:active .fa-check-circle {
  display: block;
  border-radius: 0px 15px 15px 0px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 18px;
  margin-right: 0%;
  font-weight: bold;
  background-color: #99E2D0;
  -webkit-animation: check 1s 1s 1 both;
          animation: check 1s 1s 1 both;
}

.noms:active em {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noms:active h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@-webkit-keyframes check {
  from {
    width: 0%;
  }
  to {
    width: 18%;
  }
}

@keyframes check {
  from {
    width: 0%;
  }
  to {
    width: 18%;
  }
}

@-webkit-keyframes icône {
  to {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
  }
}

@keyframes icône {
  to {
    -webkit-transform: rotate(3turn);
            transform: rotate(3turn);
  }
}

/*présentation des menus*/
.entrees, .resistance, .dessert {
  -webkit-animation: menus 2s 1s 1 both;
          animation: menus 2s 1s 1 both;
}

.resistance {
  -webkit-animation: menus 2s 3s 1 both;
          animation: menus 2s 3s 1 both;
}

.dessert {
  -webkit-animation: menus 2s 5s 1 both;
          animation: menus 2s 5s 1 both;
}

@-webkit-keyframes menus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menus {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Page2*/
.header2 {
  margin-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header2 h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin-right: 18%;
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

.header2 a {
  font-weight: bold;
  font-size: 22px;
  margin-left: 8%;
}

/*le menu du restaurant*/
.restaurant1 {
  margin-top: 0px;
}

.restaurant1 .image {
  width: 100%;
  height: 280px;
  background-image: url(../images/la-palette.jpg);
  background-size: cover;
}

.restaurant1 .image1 {
  width: 100%;
  height: 280px;
  background-image: url(../images/la-note-enchantée.jpg);
  background-size: cover;
}

.restaurant1 .image2 {
  width: 100%;
  height: 280px;
  background-image: url(../images/A-la-française.jpg);
  background-size: cover;
}

.restaurant1 .image3 {
  width: 100%;
  height: 280px;
  background-image: url(../images/le-délice-des-sens.jpg);
  background-size: cover;
}

.restaurant1 .menu {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0px 0px;
  margin-top: -50px;
  padding-left: 4%;
  padding-right: 3%;
  padding-top: 40px;
  padding-bottom: 20px;
}

.restaurant1 .menu .titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
}

.restaurant1 .menu .titre h2 {
  font-size: 26px;
  font-family: "Shrikhand", cursive;
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
}

.restaurant1 .menu .entrees, .restaurant1 .menu .resistance, .restaurant1 .menu .dessert {
  margin-top: 40px;
}

.restaurant1 .menu .entrees h2, .restaurant1 .menu .resistance h2, .restaurant1 .menu .dessert h2 {
  margin-bottom: 20px;
  color: #666666;
  font-size: 18px;
}

.restaurant1 .menu .entrees h2 em, .restaurant1 .menu .resistance h2 em, .restaurant1 .menu .dessert h2 em {
  font-style: normal;
  padding-bottom: 3px;
  border-bottom: #99E2D0 3px solid;
}

.bouton {
  margin-top: 50px;
}

.bouton .btn1, .bouton .btn2 {
  font-size: 15px;
  width: 180px;
}

/*media queries*/
@media screen and (min-width: 750px) and (max-width: 990px) {
  .localisation, .presentaion {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .liste h2 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .liste a {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .header2 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .restaurant1 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 991px) {
  .localisation, .presentaion {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .liste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .liste h2 {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .liste a {
    -webkit-box-flex: 22%;
        -ms-flex: 22%;
            flex: 22%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .liste .identite {
    white-space: nowrap;
  }
  .header2 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .header2 a {
    margin-left: 20%;
  }
  .restaurant1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant1 .image {
    width: 50%;
  }
  .restaurant1 .image1 {
    width: 50%;
  }
  .restaurant1 .image2 {
    width: 50%;
  }
  .restaurant1 .image3 {
    width: 50%;
  }
  .restaurant1 .menu {
    margin-top: 0px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurant1 .menu .titre {
    width: 100%;
  }
  .restaurant1 .menu .entrees, .restaurant1 .menu .resistance, .restaurant1 .menu .dessert {
    width: 40%;
  }
  .restaurant1 .menu .dessert {
    width: 50%;
  }
  .restaurant1 .bouton {
    width: 100%;
  }
  .noms:hover {
    cursor: pointer;
  }
  .noms:hover .fa-check-circle::before {
    -webkit-animation: icône 1s 0s 1 both;
            animation: icône 1s 0s 1 both;
  }
  .noms:hover .fa-check-circle {
    display: block;
    border-radius: 0px 15px 15px 0px;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 18px;
    margin-right: 0%;
    font-weight: bold;
    background-color: #99E2D0;
    -webkit-animation: check 1s 0s 1 both;
            animation: check 1s 0s 1 both;
  }
  .noms:hover em {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .noms:hover h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */