@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*Les variable*/
/*les mixins*/
body {
  font-family: 'Roboto', sans-serif;
  width: auto;
  margin-left: 0px;
  margin-right: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/*header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

header .logo {
  font-family: font-family "Shrikhand", cursive;
  width: 45%;
}

/*Recherche des restaurants*/
.localisation {
  background-color: #f2eafb;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.localisation .endroit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #ece1f9;
  border-top: 2.7px #d4bbf1 solid;
  font-size: 17px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #3d3d3d;
}

.localisation .fa-location-dot {
  margin-right: 15px;
}

.localisation h1 {
  font-weight: bold;
  font-size: 24px;
  font-family: font-family "Shrikhand", cursive;
  margin-bottom: 15px;
}

.localisation .decouverte {
  color: #666666;
  margin-bottom: 30px;
  font-size: 18px;
}

.localisation .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  font-weight: bold;
  border-radius: 25px;
  font-size: 14px;
  margin-left: 80px;
  margin-right: 80px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  margin-bottom: 40px;
}

/*présention de l'entreprise*/
.presentaion {
  padding-left: 25px;
  font-family: font-family "Shrikhand", cursive;
}

.presentaion h1 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.presentaion p {
  background-color: #f2eafb;
  margin-top: 10px;
  margin-right: 15px;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 52%;
      -ms-flex: 52%;
          flex: 52%;
  overflow: visible;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 1px #f2eafb;
          box-shadow: 3px 3px 1px #f2eafb;
  margin-bottom: 25px;
}

.presentaion p .fa-mobile-screen-button {
  color: #999999;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 22px;
}

.presentaion p em {
  margin-left: -12px;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  border-radius: 50px;
  background-color: #9356DC;
}

.fa-bars {
  color: #999999;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 22px;
}

.fa-store {
  color: #999999;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 22px;
  color: #9356DC;
}

/*listes des restaurants*/
.liste {
  background-color: #f2eafb;
  margin-top: 70px;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.liste h1 {
  font-family: font-family "Shrikhand", cursive;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 30px;
}

.liste .card1, .liste .card2 {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;
  height: 300px;
}

.liste .card1 img, .liste .card2 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 210px;
  border-radius: 20px 20px 0px 0px;
}

.liste .card1 .restaurant, .liste .card2 .restaurant {
  position: relative;
}

.liste .card1 .restaurant p, .liste .card2 .restaurant p {
  position: absolute;
  top: 15px;
  right: 8px;
  height: 25px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
  font-size: 12px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.liste .card1 .identite, .liste .card2 .identite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
  padding-top: 20px;
  padding-right: 5%;
}

.liste .card1 .identite h3, .liste .card2 .identite h3 {
  font-weight: bold;
  font-size: 20px;
  font-family: font-family "Shrikhand", cursive;
  margin-bottom: 5px;
}

.liste .card1 .identite h4, .liste .card2 .identite h4 {
  color: #666666;
}

.liste .card1 .identite .adresse, .liste .card2 .identite .adresse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

footer {
  background-color: #343333;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

footer img {
  font-family: font-family "Shrikhand", cursive;
  width: 100px;
  color: white;
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 10px;
  font-size: 15px;
}

footer li .fa-utensils {
  margin-right: 7px;
}

footer li .fa-handshake-angle {
  margin-right: 7px;
}

footer li a {
  color: white;
}

/*animations*/
/*remplissage des coeurs*/
.coeur {
  position: relative;
  margin-right: 10%;
  margin-bottom: 35px;
}

.coeur .coeur1, .coeur .coeur2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  -webkit-transition: 1s;
  transition: 1s;
}

.coeur .coeur1 {
  opacity: 1;
  color: #666666;
}

.coeur .coeur2 {
  opacity: 0;
}

.coeur1:active {
  opacity: 0;
}

.coeur2:active {
  opacity: 1;
  color: #9356DC;
  cursor: pointer;
}

/*loading spinner*/
.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading::after {
  content: "";
  height: 50px;
  width: 50px;
  border: 12px solid #99E2D0;
  border-top-color: #e8f9f5;
  border-bottom-color: #e8f9f5;
  border-radius: 50%;
  -webkit-animation: 1s ease infinite both spinner;
          animation: 1s ease infinite both spinner;
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spinner {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
/*# sourceMappingURL=style.css.map */